*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    padding: 1rem;
}

.main{
    background-color:rgb(1, 3, 56);
    margin: auto;
    width: 80%;
    height: 100%;
    border: 10px solid rgb(1, 3, 56);
    display: flex;
    flex: row ;
    
}

.box{
    width: 90%;
    height: 250px;
}

.box-one{
    background-color: rgb(253, 100, 253);
}
.box-two{
    background-color: rgb(250, 76, 154);
}
.box-three{
    background-color: rgb(255, 90, 90);
}
.box-four{
    background-color: rgb(255, 120, 71);
}
.box-five{
    background-color: rgb(255, 255, 104);
}

button{
    padding: 0.5rem 2rem;
    margin: 0.5rem 15rem;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.buttons{
    text-align: center;
    padding: 2rem;
    
}

#btn-start{
    background-color:green;
}
#btn-stop{
    background-color:red;
}


